<!DOCTYPE html>
<html ng-app="brandonDermer">

<head>
    <title>BRANDON DERMER</title>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="sylesheet" href="../css/font-awesome.css" />
    <link rel="stylesheet" href="css/font-awesome.min.css" />
    <link rel="stylesheet" href="css/style.css" />
    <script type="text/javascript">
        function MM_preloadImages() { //v3.0
            var d = document;
            if (d.images) {
                if (!d.MM_p) d.MM_p = new Array();
                var i, j = d.MM_p.length,
                    a = MM_preloadImages.arguments;
                for (i = 0; i < a.length; i++)
                    if (a[i].indexOf("#") != 0) {
                        d.MM_p[j] = new Image;
                        d.MM_p[j++].src = a[i];
                    }
            }
        }
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="app.js"></script>
</head>

<body>
    <h1>Brandon Dermer</h1>
    <div class="container" ng-controller="brandonController as brandonController">
        <nav>
            <br>
            <br>

            <h3>Music Videos</h3>

            <li ng-repeat="video in musicVideos">
                <a class="musicVideos" href="{{video.href}}">
                    {{video.artist + " " + video.title + " - " + video.role }}
                </a>
                <img src="{{'images/' + video.img}}" width="1000" height="563">
            </li>

            <h3>Shorts</h3>

            <li ng-repeat="video in shorts">
                <a class="musicVideos" href="{{video.href}}">
                    {{video.artist + " " + video.title + " - " + video.role }}
                </a>
                <img src="{{'images/' + video.img}}" width="1000" height="563">
            </li>

            
            <h3 class="commerical">Commericals</h3>

            <li ng-repeat="video in commercials">
                <a class="musicVideos" href="{{video.href}}">
                    {{video.artist + " " + video.title + " - " + video.role }}
                </a>
                <img src="{{'images/' + video.img}}" width="1000" height="563">
            </li>

            <h3><a class="brandon" href="contact.html">Contact</a></h3>
            <h3><a class="brandon" href="bio.html">Bio</a></h3>
        </nav>
    </div>
</body>

<footer>
    <div class="links1">
        <a href="https://www.twitter.com/brandonDMOB">
            <span class="fa fa-twitter zoomIn"></span>
        </a>
        <a href="https://www.facebook.com/brandondermerdirector">
            <span class="fa fa-facebook-official zoomIn"></span>
        </a>
        <a href="mailto:brandondermer@gmail.com">
            <span class="fa fa-envelope-o zoomIn"></span>
        </a>
        <a href="https://www.instagram.com/brandondermer/">
            <span class="fa fa-instagram zoomIn"></span>
        </a>
    </div>
</footer>

</html>